* {
    margin: 0%;
    padding: 0%;
}

.stockCard {
    display: grid;
    grid-template-columns: 20% 35% 40%;
    grid-template-rows: auto;
    align-self: center;
    border-bottom: 2px rgba(239, 240, 240, 0.93) solid;
}

.stockCoInfo {
    text-align: start;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 2vw;
}

.stockCoInfo p {
    width: 120px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.metaValues {
    display: flex;
    justify-content: space-between;
    color: #B22222;
    font-size: smaller;
    align-items: baseline;
}

.metaValues img {
    vertical-align: bottom;
}

.values {
    text-align: start;
    margin-bottom: 1vh;

}

.values #stockValue {
    margin-top: 1vh;
    font-size: 20px;
}

#stockSymbol,
#stockValue {
    margin-bottom: 1vh;
}


.logoContainer {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(239, 240, 240, 0.93);
    border: 4px rgba(239, 240, 240, 0.93) solid;
    margin-left: 5vw;
    
    
}

#logo {
    width: 80px;
    max-height: 100%;
    max-width: 100%;   
    border-radius: 40px;
}